[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/periphery-next"]
	path = packages/foundry/lib/periphery-next
	url = https://github.com/Uniswap/periphery-next
